<a href="https://colab.research.google.com/github/IhsanMaulidin/Tugas-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORT LIBRARY

In [2]:
import pandas as pd
import numpy as np

Loading DataSet

In [3]:
url ='/content/epl-goalScorer(20-21).csv'
df = pd.read_csv(url)

MENAMPILKAN DATA

In [4]:
df.head()

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796

Pemain dengan jumlah gol terbanyak

In [5]:
df_sorted = df.sort_values(by='goals', ascending=False)

# Menampilkan nama pemain dengan jumlah gol terbanyak
print("Pemain dengan Jumlah Gol Terbanyak:")
print(df_sorted[['player_name', 'goals']].head(10))

Pemain dengan Jumlah Gol Terbanyak:
             player_name  goals
0             Harry Kane     23
1          Mohamed Salah     22
2        Bruno Fernandes     18
3          Son Heung-Min     17
4        Patrick Bamford     17
5  Dominic Calvert-Lewin     16
6            Jamie Vardy     15
7          Ollie Watkins     14
8         Ilkay Gündogan     13
9    Alexandre Lacazette     13

Durasi Bermain Terlama

In [6]:
df_sorted = df.sort_values(by='time', ascending=False)

# Menampilkan nama pemain dengan durasi terlama
print("Pemain dengan durasi terlama:")
print(df_sorted[['player_name', 'time']].head(10))

Pemain dengan durasi terlama:
               player_name  time
296            Hugo Lloris  3420
378      Emiliano Martinez  3420
311      Kasper Schmeichel  3420
110  Pierre-Emile Højbjerg  3420
40           Stuart Dallas  3412
327           Matt Targett  3407
480            Luke Ayling  3400
204       Andrew Robertson  3391
55         Youri Tielemans  3359
7            Ollie Watkins  3330

ASSIST TERBANYAK

In [7]:
df_sorted = df.sort_values(by='assists', ascending=False)

# Menampilkan nama pemain dengan assists TERBANYAK
print("Pemain dengan assists terbanyak:")
print(df_sorted[['player_name', 'assists']].head(10))

Pemain dengan assists terbanyak:
         player_name  assists
0         Harry Kane       14
2    Bruno Fernandes       12
58   Kevin De Bruyne       11
3      Son Heung-Min       10
51     Jack Grealish       10
15   Marcus Rashford        9
6        Jamie Vardy        9
57          Raphinha        9
49       Timo Werner        8
281  Aaron Cresswell        8

Player goal Terbanyak dari Manchester city

In [9]:
# Filter data berdasarkan kesebelasan
kesebelasan_terpilih = 'Manchester City'
df_filtered = df[df['team_title'] == kesebelasan_terpilih]

# Mengurutkan data berdasarkan jumlah gol
df_sorted = df_filtered.sort_values(by='goals', ascending=False)

# Menampilkan nama pemain dengan jumlah gol terbanyak dari kesebelasan tertentu
print(f"Pemain dengan Jumlah Gol Terbanyak dari {kesebelasan_terpilih}:")
print(df_sorted[['player_name', 'goals']].head(4))

Pemain dengan Jumlah Gol Terbanyak dari Manchester City:
        player_name  goals
8    Ilkay Gündogan     13
22  Raheem Sterling     10
28     Riyad Mahrez      9
35    Gabriel Jesus      8

Kesebelasan dengan Goal Terbanyak

In [10]:
# Mengelompokkan data berdasarkan kesebelasan dan menjumlahkan jumlah gol
total_gol_per_kesebelasan = df.groupby('team_title')['goals'].sum()

# Menemukan kesebelasan dengan jumlah gol terbanyak
kesebelasan_terbanyak = total_gol_per_kesebelasan.idxmax()
jumlah_gol_terbanyak = total_gol_per_kesebelasan.max()

print(f"Kesebelasan dengan Pencetak Gol Terbanyak: {kesebelasan_terbanyak}")
print(f"Jumlah Gol Terbanyak: {jumlah_gol_terbanyak}")

Kesebelasan dengan Pencetak Gol Terbanyak: Manchester City
Jumlah Gol Terbanyak: 77

Kartu Kuning dan merah assist terbanyak

In [11]:
df_sorted = df.sort_values(by='assists', ascending=False)
print("Karu Kuning dan merah assist terbanyak:")
print(df_sorted[['player_name', 'yellow_cards', 'red_cards', 'assists']].head(1))

Karu Kuning dan merah assist terbanyak:
  player_name  yellow_cards  red_cards  assists
0  Harry Kane             1          0       14

Pemain dengan goals dan assist terbanyak serta kesebelasannya.

In [14]:
df_sorted = df.sort_values(by=['goals','assists'], ascending=False)
print("Jumlah goals dan assist terbanyak:")
print(df_sorted[['player_name', 'goals','team_title', 'assists']].head(1))

Jumlah goals dan assist terbanyak:
  player_name  goals team_title  assists
0  Harry Kane     23  Tottenham       14

Kesebelasan dengan goal terbanyak

In [15]:
total_gol_per_kesebelasan = df.groupby('team_title')['goals'].sum()

# Mengurutkan data berdasarkan jumlah gol dan mengambil lima kesebelasan teratas
lima_kesebelasan_teratas = total_gol_per_kesebelasan.sort_values(ascending=False).head(5)

print("Lima Kesebelasan dengan Gol Terbanyak:")
print(lima_kesebelasan_teratas)

Lima Kesebelasan dengan Gol Terbanyak:
team_title
Manchester City      77
Manchester United    68
Tottenham            66
Liverpool            64
Leicester            64
Name: goals, dtype: int64

Urutan pemain dengan goal terbanyak tanpa mendapatkan kartu

In [16]:
df_filtered = df[(df['yellow_cards'] == 0) & (df['red_cards'] == 0)]

# Mengurutkan data berdasarkan jumlah gol
df_sorted = df_filtered.sort_values(by='goals', ascending=False)

# Menampilkan pemain dengan jumlah gol terbanyak tanpa kartu kuning dan merah
print("Pemain dengan Jumlah Gol Terbanyak tanpa Kartu Kuning dan Merah:")
print(df_sorted[['player_name', 'goals']].head())

Pemain dengan Jumlah Gol Terbanyak tanpa Kartu Kuning dan Merah:
      player_name  goals
1   Mohamed Salah     22
3   Son Heung-Min     17
13     Chris Wood     12
28   Riyad Mahrez      9
29  Harvey Barnes      9